/* static/style.css */

/* Estilos para o formulário de adição de despesas */
#formDespesa {
    margin-bottom: 20px;
}

/* Estilos para a lista de despesas */
#listaDespesas {
    padding: 0;
}

/* Estilos para cada item da lista de despesas */
#listaDespesas li {
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

/* Estilos para o botão "Adicionar Despesa" */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}