<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Expenses Manager</h1>
        <div class="buttons">
            <a href="/add_expense" class="btn">Add Expense</a>
            <a href="/expenses" class="btn">View Expenses</a>
        </div>
    </div>
</body>
</html>
